body {
    font-size: 22px;
    line-height: 34px;
}


header,
nav {
    background-color: #FD739C;
    color: #fff;
    line-height: 1.3;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding-top: 120px;
    padding-bottom: 60px;
}

.whoiam {
    padding-top: 30px;
}

P {
    font-family: Arial, Helvetica, sans-serif;
}